<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <h1>Ciao <%= nameUser %></h1>
    <h2>sei nella home page del commerciale</h2>
  </body>
</html>
