<nav class="nav">
  <a href="/" class="nav-logo-cont">
    <img src="img/S5.svg" alt="logo studio5" />
  </a>
  <ul class="nav-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/commerciale">Clienti</a></li>
    <li><a href="/commerciale">Contratti</a></li>
    <li><a href="/commerciale">Prenotazioni</a></li>
    <li><a href="/commerciale">Impianti</a></li>
    <li><a href="/commerciale">Attacchini</a></li>
  </ul>
  <form action="" method="" class="nav-form">
    <p class="nav-user"><%= userName %></p>
    <button type="submit" class="nav-log-button">
      <img src="img/log-out.svg" alt="log-out" />
    </button>
  </form>
</nav>
