/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');

/* COLOR PALETTE */

:root {
  --primary-color-font: #232231;
  --secondary-color-font: #8f8ea5;
  --primary-background: #f8faff;
  --secondary-background: #dce1ec;
  --primary-btn: #3246d3;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, Roboto;
  color: var(--primary-color-font);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

/* ---------------------- */

/* NAVBAR */

.nav {
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  z-index: 100;
}

.nav-logo-cont {
  height: 100%;
  width: 100px;
}

.nav-logo-cont:active {
  transform: translateY(2px);
}

.nav-menu {
  display: flex;
  /* gap: 20px; */
}

.nav-menu li {
  padding: 0 30px;
  border-right: 1px solid var(--primary-color-font);
}

.nav-menu li:last-child {
  border-right: none;
}

.nav-menu a:hover {
  color: var(--secondary-color-font);
}

.nav-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-log-button {
  width: 30px;
  border: none;
  background: none;
  cursor: pointer;
}

/* MAIN - SIDE MENU*/
main {
  display: flex;
}

.main_side-menu {
  width: 20%;
  height: 100vh;
  padding: 120px 50px;
  background-color: var(--secondary-background);
}

.main_side-menu ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-weight: 500;
}

.main_side-menu a {
  display: flex;
  align-items: center;
  color: var(--secondary-color-font);
}

.main_side-menu li:hover a,
.main_side-menu li:hover svg {
  color: var(--primary-color-font);
  fill: var(--primary-color-font);
}

.main_side-menu svg {
  width: 25px;
  margin-right: 20px;
  fill: var(--secondary-color-font);
}

.main_nav_btn {
  background-color: var(--primary-btn);
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #ffffff !important;
  border-radius: 10px;
}

/* ------------------------------------- */

/* MAIN SECTION CLIENTI */

.main_section {
  width: 80%;
  height: 100vh;
  padding: 120px 50px;
  background-color: var(--primary-background);
  display: flex;
}

.main_section_all-clients {
  width: 35%;
  border: 1px solid red;
  padding: 0 20px;
}

.all-clients_cliente {
  padding: 20px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: inline-block;
}
.all-clients_cliente_titolo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.cliente-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-background);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cliente-icon svg {
  width: 20px;
}

.main_section_client {
  width: 65%;
  border: 1px solid blue;
}
